@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
    --mode-elements: hsl(0, 0%, 100%);
    --mode-bg: hsl(0, 0%, 98%);
    --mode-text: hsl(200, 15%, 8%);
    --mode-input: hsl(0, 0%, 52%);
}

html {
    scroll-behavior: smooth;
}

body.darkTheme {
    --mode-elements: hsl(209, 23%, 22%);
    --mode-bg: hsl(207, 26%, 17%);
    --mode-text: hsl(0, 0%, 100%);
    --mode-input: hsl(0, 0%, 100%);
}

body {
    background-color: var(--mode-bg);
    transition: background-color 0.5s, color 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.bx {
    color: var(--mode-text);
    transition: color 0.5s, transform 0.5s;
}

.title1 {
    font-weight: 800;
    font-size: 1.5em;
    color: var(--mode-text);
}

.title2 {
    font-weight: 800;
    font-size: 1.3em;
    color: var(--mode-text);
}

.text1 {
    font-weight: 600;
    font-size: 1em;
    color: var(--mode-text);
}

.text2 {
    font-weight: 300;
    font-size: 1.1em;
    color: var(--mode-text);
}

.shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.max_width_content {
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
}

.header {
    background-color: var(--mode-elements);
    height: 70px;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_title {
    cursor: pointer;
}

.changeTheme {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.form_search {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
}

.input_search {
    background-color: var(--mode-elements);
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border 0.5s, background-color 0.5s;
}

.input_search:focus-within {
    border: 1px solid var(--mode-text);
}

.input_search input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--mode-input);
    transition: color 0.5s;
}

.input_search input::placeholder {
    color: var(--mode-input);
    font-weight: 600;
    transition: color 0.5s;
}

.select_country {
    outline: none;
    border: none;
    padding: 1em;
    width: 50%;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--mode-elements);
    color: var(--mode-text);

    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.select_country:focus {
    border: 1px solid var(--mode-text);
}

@media (min-width: 700px) {
    .form_search {
        flex-direction: row;
        justify-content: space-between;
    }

    .input_search {
        width: 50%;
    }
    .select_country {
        width: 30%;
    }
}

.content_countries {
    display: grid;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.content_countries-none {
    display: none;
}

.country {
    max-width: 500px;
    background-color: var(--mode-elements);
    border-radius: 1em;
    overflow: hidden;
    transition: box-shadow 0.5s, transform 0.5s, background-color 0.5s;
}

.country:hover {
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transform: translateY(-10px);
}

.country_img {
    height: 200px;
}

.country_info {
    padding: 1em 2em 2em 2em;
}

.country_info-title {
    margin-bottom: 1em;
}

.current_country {
    background-color: var(--mode-bg);
    padding: 2em 1em;
    display: none;
}

.current_country-show {
    display: block;
}

.current_country-content {
    margin-top: 2em;
    display: grid;
    gap: 2em;
}

@media (min-width: 700px) {
    .current_country-content {
        grid-template-columns: 1fr 1fr;
    }
}

.current_country-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.goback {
    background-color: var(--mode-elements);
    padding: 0.5em 1em;
    border: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100px;
}

.goback:hover {
    opacity: 0.8;
    cursor: pointer;
}

.goback:hover .bx {
    transform: translateX(-5px);
}

.content_labels {
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.label {
    padding: 1em;
    background-color: var(--mode-elements);
    color: var(--mode-text);
}
